body {

background-color: hsl(212, 45%, 89%);

}


picture {
border-radius: 10px;

}

.card {
background-color: hsl(0, 0%, 100%);
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
height: 500px;
width: 250px;

  
}


h2 {
font-family: 'Outfit', sans-serif;
font-weight: 700;
text-align: center;
color: hsl(218, 44%, 22%);
}

p {
font-family: 'Outfit', sans-serif;
font-weight: 400;
text-align: center;
color: hsl(212, 45%, 89%);
font-size: 0.938rem;
color: hsl(220, 15%, 55%);


}
