body {

background-color: hsl(212, 45%, 89%);
display: grid;
place-content: center;
min-height: 100vh;


}


picture {
border-radius: 10px;

}

.card {
background-color: hsl(0, 0%, 100%);
border-radius: 10px;
max-width: 18rem;

  
}


h2 {
font-family: 'Outfit', sans-serif;
font-weight: 700;
text-align: center;
color: hsl(218, 44%, 22%);
}

p {
font-family: 'Outfit', sans-serif;
font-weight: 400;
text-align: center;
color: hsl(212, 45%, 89%);
font-size: 0.938rem;
color: hsl(220, 15%, 55%);


}
